@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#232427;
}
.container{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container .card{
    height: 100%;
    width: 100%;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card .box{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 300px;
    min-height: 380px;
    height: 500px;
    margin-left:25px;
    margin-top:25px;
    box-shadow: 2px 5px 15px 0px rgba(133, 126, 126, 0.425),
                -5px -5px 15px rgba(5, 4, 4, 0.445),
                inset 5px 5px 5px rgba(5, 4, 4, 0.445),
                inset -5px -5px 15px rgba(5, 4, 4, 0.445);
    border-radius: 15px;
    padding:0 10px;
}

.container .card .box .content{
font-family: 'Poppins', sans-serif;
height: 90%;
width: 90%;
display:flex;
justify-content: center;
align-items: center;
flex-flow:column; 
box-shadow: 2px 5px 15px 0px rgba(5, 4, 4, 0.445),
            -5px -5px 15px rgba(5, 4, 4, 0.445);
transition: 0.3s;
border-radius: 10px;
}
.container .card .box .content:hover{
    transform: translateY(-60px);
}
.container .card .box .content .icon{
    width: 100px;
    height: 100px;
    background-color: rgb(96, 202, 34);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color:#fff;
    margin-bottom: 10px;
}
.container .card .box .content{
    color:#fff;
}
.container .card .box .content h4{
    color:#fff;
    font-size: 35px;
}
.container .card .box .content .btn{
    padding:10px 15px;
    background-color: rgb(96, 202, 34);
    margin-top:25px;
    border-radius: 10px;
    font-size: 17px;
    color:#fff;
}

.container .card .box:nth-child(2) .content .icon{
    background-color:rgb(8, 98, 114);
    color:#fff;
}.container .card .box:nth-child(2) .content .btn{
    background-color:rgb(8, 98, 114);
    color:#fff;
}

.container .card .box:nth-child(3) .content .icon{
    background-color:rgb(207, 19, 75);
    color:#fff;
}.container .card .box:nth-child(3) .content .btn{
    background-color:rgb(207, 19, 75);
    color:#fff;
}

.sun__Moon{
    height: 50px;
    width: 50px;
    background-color: #fff;
    margin:auto;
    margin-bottom: -10px;
    margin-top:50px;
    border-radius: 10px;
    position: relative;
    z-index: 5;
}
.sun__Moon::before{
    content: 'Light';
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    z-index:-1
}

/*light part*/
body.Light div .container .card .box .content,
body.Light div .container .card .box .content h4{
    color:rgb(43, 105, 105)
}

body.Light{
    background-color: rgb(231, 226, 226);
}
body.Light div .sun__Moon{
    background-color: black;
}
body.Light div .sun__Moon::before{
    content:"Dark";
    color:#fff;
}
body.Light div .container .card .box {
box-shadow: 2px 5px 15px 0px rgba(70, 65, 65, 0.445),
            -5px -5px 15px rgba(150, 137, 137, 0.445);
}
body.Light div .container .card .box .content{
    box-shadow: 2px 5px 15px 0px #fff,
                -5px -5px 15px #fff,
                inset 5px 5px 5px rgba(216, 206, 206, 0.445),
                inset -5px -5px 15px rgba(156, 143, 143, 0.445);
    }